data/
servers/
backups/
proxies/
java/
*.db
*.log
manager/demimine
manager/server
.env
node_modules/
webui/.svelte-kit/
DemiAuth/.gradle/
DemiAuth/build/
DemiDynamic/.gradle/
DemiDynamic/build/
docker-compose.yml
*.tar.zst
.DS_Store
*.swp
*.swo
*.kate-swp
